<div class="container">
  <div class="row">
    <div class="col-6 mx-auto p-4 m-5 border-light shadow-sm">
      <h3 class="pb-3">Login</h3>
      
      <div class="form-style">
        <form id="login-form">
          <div class="form-group pb-3">    
            <input type="email" placeholder="Email" class="form-control" id="email-login" aria-describedby="emailHelp">   
          </div>
          <div class="form-group pb-3">   
            <input type="password" placeholder="Password" class="form-control" id="password-login">
          </div>
          <div class="d-flex align-items-center justify-content-between">
          <div class="pb-2">
            <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2" href="/profile">
              Submit
            </button>
          </div>
        </form>
        <div class="pt-3 text-center">
          Become a member! <a href="/signup">Sign Up</a>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="/js/login.js"></script>